﻿@using RepGen.Controllers
@model DepartmentViewModel

@{
    ViewBag.Title = "Генератор отчётов";
}


<h3>@Model.Department в @Model.Year году</h3>

@using (Html.BeginForm("Auto", "Retention", FormMethod.Post))
{
    <table class="filter-table">
        <tr>
            <td>
                Год:
            </td>
            <td>
                <select name="Year">
                    @foreach (var item in Model.Years)
                    {
                        if (@item == Model.Year)
                        {
                            <option selected value="@item">@item</option>
                        }
                        else
                        {
                            <option value="@item">@item</option>
                        }
                    }
                </select>
            </td>
        </tr>

        <tr>
            <td>
                Департамент:
            </td>
            <td>
                <select name="Department">
                    @foreach (var item in Model.Departments)
                    {
                        if (@item == Model.Department)
                        {
                            <option selected value="@item">@item</option>
                        }
                        else
                        {
                            <option value="@item">@item</option>
                        }
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Показатель:
            </td>
            <td>
                @Html.DropDownList("Show", new List<SelectListItem> {
                    new SelectListItem { Text="Всего клиентов", Value="1" },
                    new SelectListItem { Text="Удержано клиентов из прошлого месяца", Value="2" },
                    new SelectListItem { Text="% удержания клиентов из прошлого месяца", Value="3" }
                })
            </td>
        </tr>
        <tr>
            <td>
                Услуги:
            </td>
            <td>
                @Html.DropDownList("Service", new List<SelectListItem> {
                    new SelectListItem { Text="Все платные", Value="1" },
                    new SelectListItem { Text="ПТ Сплит Трио Квартет", Value="2" },
                    new SelectListItem { Text="Студия Секция Группа", Value="3" }
                })
            </td>
        </tr>
    </table>
    <br />
    <input type="submit" value="Применить" />}

<br />

<table class="table table-bordered retention-table">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Январь</th>
            <th>Февраль</th>
            <th>Март</th>
            <th>Апрель</th>
            <th>Май</th>
            <th>Июнь</th>
            <th>Июль</th>
            <th>Август</th>
            <th>Сентябрь</th>
            <th>Октябрь</th>
            <th>Ноябрь</th>
            <th>Декабрь</th>
            <th>Итого</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Executors)
        {
            <tr>
                <th scope="row">@item.Name</th>

                @for (int i = 0; i < 12; i++)
                {
                    if (@Model.Show == 1)
                    {
                        <td>@item.Total[i].Count</td>                         
                    }
                    else if (@Model.Show == 2)
                    {
                        <td>@item.Retention[i].Count</td>
                    }
                    else if (@Model.Show == 3)
                    {
                        <td>@item.RetentionPercent[i]%</td>
                    }
                }
                <td>
                    @*@if (@Model.Show == 1)
                    {
                        @item.Total.Sum(x => x.Count);
                    }
                    else if (@Model.Show == 2)
                    {
                        @item.Retention.Sum(x => x.Count);
                    }
                    else*@
                    @if (@Model.Show == 3)
                    {
                        @(Math.Round(item.RetentionPercent.Sum() / DateTime.Now.Month));
                        @Html.Raw("%")
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>

