﻿@{
    ViewBag.Title = "Генератор отчётов";
}

<h3>Удержание клиентов</h3>

<div class='report-links'>
    <h4>Автоматически</h4>

@using (Html.BeginForm("Auto", "Retention", FormMethod.Post))
{   
    
    if (!ReferenceEquals(ViewBag.Report03, null) || !ReferenceEquals(ViewBag.Report04, null))
    {
        <p>В хранилище найдены отчёты:</p>

        <ul>            
            @if (!ReferenceEquals(ViewBag.Report03, null))
            {
                FileSystemInfo fsi = ViewBag.Report03;
                <li>@Html.Raw(string.Format(@"{0}, создан {1:g}", fsi.Name, fsi.LastWriteTime))</li>
            }
            @if (!ReferenceEquals(ViewBag.Report04, null))
            {
                FileSystemInfo fsi = ViewBag.Report04;
                <li>@Html.Raw(string.Format(@"{0}, создан {1:g}", fsi.Name, fsi.LastWriteTime))</li>
            }
        </ul>
    }

    if (!ReferenceEquals(ViewBag.Report03, null) || !ReferenceEquals(ViewBag.Report04, null))
    {
        <input type="submit" value="Сформировать отчёт автоматически" />
    }
    else
    {
        @Html.Raw("Для формирования данных недостаточно отчётов")
    }
}


</div>