﻿@{
    ViewBag.Title = "Генератор отчётов";
}

<h3>Остатки блоков с типом оплаты</h3>

<div class='report-links'>
    <h4>Автоматически</h4>
    
    @if (!ReferenceEquals(ViewBag.Report01, null) || !ReferenceEquals(ViewBag.Report02, null)
         || !ReferenceEquals(ViewBag.Report03, null))
    {
        <p>В хранилище найдены отчёты:</p>

        <ul>
            @if (!ReferenceEquals(ViewBag.Report01, null))
            {
                FileSystemInfo fsi = ViewBag.Report01;
                <li>@Html.Raw(string.Format(@"{0}, создан {1:g}", fsi.Name, fsi.LastWriteTime))</li>
            }
            @if (!ReferenceEquals(ViewBag.Report02, null))
            {
                FileSystemInfo fsi = ViewBag.Report02;
                <li>@Html.Raw(string.Format(@"{0}, создан {1:g}", fsi.Name, fsi.LastWriteTime))</li>
            }
            @if (!ReferenceEquals(ViewBag.Report03, null))
            {
                FileSystemInfo fsi = ViewBag.Report03;
                <li>@Html.Raw(string.Format(@"{0}, создан {1:g}", fsi.Name, fsi.LastWriteTime))</li>
            }
        </ul>
    }

    @if (!ReferenceEquals(ViewBag.Report01, null) && !ReferenceEquals(ViewBag.Report02, null)
         && !ReferenceEquals(ViewBag.Report03, null))
    {        
        @Html.ActionLink("Сформировать отчёт по данным из хранилища", "Auto", "BlocksLeft")
    }
    else
    {
        @Html.Raw("Для формирования данных недостаточно отчётов")
    }

    
</div>

<div class='report-links'>
    <h4>Вручную</h4>
    @Html.ActionLink("Сформировать отчёт вручную", "Manual", "BlocksLeft")
</div>


<div class="report-info">
    <h4>Источники</h4>
    <ul>
        <li>@Html.ActionLink("Остатки услуг по блокам [01]", "Report01", "ReportFromAa")</li>
        <li>@Html.ActionLink("Продажа - кассовый отчет [02]", "Report02", "ReportFromAa")</li>
        <li>Profile: Номер анкеты - Телефон [03]</li>
    </ul>
</div>

<div class='report-info'>
    <h4>Особенности</h4>
    <ul>
        <li>Исключены бесплатные блоки.</li>
        <li>Исключены блоки, приобретённые до 2015 года.</li>
        <li>Не отображается информация о проданных блоках в переоформленных контрактах.</li>
        <li>Сортировка по дате создания блока (Created).</li>
    </ul>
</div>

<div class='report-info'>
    <h4>Результат</h4>
    <p>Финальный отчёт содержит все строки из "Остатки услуг по блокам" + информация из отчёта "Продажи - кассовый отчет" + номера телефонов из Профиля</p>
    Поля в финальном отчёте:
    <ul>
        <li>FIO [01]</li>
        <li>Info [01]</li>
        <li>SName [01]</li>
        <li>Itog (остаток услуг в блоке) [01]</li>
        <li>Resource (исполнитель) [01]</li>
        <li>Created [01]</li>
        <li>DocN [02]</li>
        <li>PCode (тип оплаты из "Продажи - кассовый отчет") [02]</li>
        <li>Телефоны [03]</li>
    </ul>
</div>

<div class="report-info">
    <h4>Связывание</h4>
    <ul>
        <li>FIO [01] - FIO [02]</li>
        <li>Created [01] - SData [02]</li>
        <li>SName [01] - SrvName [02]</li>
        <li>PersonNumber [01] - PersonNumber [03]</li>
    </ul>
</div>
