﻿@{
    ViewBag.Title = "Продажа после стартовой";
}

<h2>Продажа после стартовой</h2>

@using (Html.BeginForm("SalesAfterStart", "SalesAfterStart", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <table class="settings-table">
            <tr>
                <td>
                    Дата начала прохождения стартовых
                </td>
                <td>
                    <input type="date" name="dateStart" />
                </td>
            </tr>
            <tr>
                <td>
                    Отчёт 02
                </td>
                <td>
                    <input type="file" name="reportChecksFromAa"/>
                </td>
            </tr>
            <tr>
                <td>
                    Список "Номер анкеты - Телефон" из Профиля
                </td>
                <td>
                    <input type="file" name="reportPhonesFromProfile"/>
                </td>
            </tr>
            <tr>
                <td>
                    Отчёт 04
                </td>
                <td>
                    <input type="file" name="reportRealizationFromAa"/>
                </td>
            </tr>
        </table>

        <br />
        <input type="submit" value="Отправить" />
    </div>
}