﻿@{
    ViewBag.Title = "Продажа - кассовый отчет";
}

<h3>Продажа - кассовый отчет</h3>

<div class="report-info">
    <h4>Источник</h4>
    Club Expert - Финансовая информация - Продажа кассовый отчет
</div>

<div class="report-info">
    <h4>Формат</h4>
    csv
</div>

<div class="report-info">
    <h4>Настройки</h4>
    <ul>
        <li>интервал дат 01.01.2015 - 31.12.2019</li>
        <li>валюта - платежная</li>
        <li>тип клиента - все</li>
        <li>учет продажи контрактов - нет</li>
        <li>учет внесения аванса - нет</li>
        <li>учет архива - да</li>
        <li>отображать модификаторы - да</li>
        <li>только оплаты по ККМ - нет</li>
        <li>ФИО полностью - да</li>
        <li>
            Секции прейскуранта
            <ul>
                <li>Тренажерный зал</li>
                <li>Бассейн</li>
                <li>Аэробика</li>
                <li>Единоборства</li>
                <li>Игровой зал</li>
                <li>Массаж</li>
                <li>Детский центр</li>
                <li>Спорт-медицина</li>
            </ul>
        </li>
        <li>
            Вид оплаты
            <ul>
                <li>Наличные</li>
                <li>Кредитная карта</li>
                <li>Лицевой счёт</li>
            </ul>
        </li>
    </ul>
</div>

<div class='report-info'>
    <h4>Особенности</h4>
    В поле SrvName "(010540)ТЗ ПТ премиум: 01 ед" удаляется текст в начальных скобках и переносится в поле SrvCode.
    Из поля FIO извлекается номер анкеты PersonNumber.
</div>

<div class="report-info">
    <h4>Поля отчёта</h4>
    DocN SrvName Quantity SData Price Discount RName Operator GrpName FIO PData Summa RecordID PCode PDataG PayType PType Comment TotalPrice
</div>

<div class="report-info">
    <img src="~/Content/Images/report02_settings.png" />
</div>