﻿@{
    ViewBag.Title = "Реализация услуг (сотрудники)";
}

<h3>Реализация услуг (сотрудники)</h3>

<div class="report-info">
    <h4>Источник</h4>
    Club Expert - Финансовая информация - Реализация услуг (сотрудники)
</div>

<div class="report-info">
    <h4>Формат</h4>
    csv
</div>

<div class="report-info">
    <h4>Настройки</h4>
    <ul>
        <li>интервал дат 01.01.2015 - 31.12.2019</li>
        <li>детализация клиента - да</li>
        <li>детализация даты - да</li>
        <li>валюта - платежная</li>
        <li>тип даты - реализация</li>
        <li>группировать по - секции</li>
        <li>ФИО полностью - да</li>
        <li>вид услуги - все</li>
        <li>Прейскурант
            <ul>
                <li>Тренажерный зал</li>
                <li>Бассейн</li>
                <li>Аэробика</li>
                <li>Единоборства</li>
                <li>Игровой зал</li>
                <li>Массаж</li>
                <li>Детский центр</li>
                <li>Спорт-медицина</li>
                <li>Общие услуги ФД</li>
            </ul>
        </li>
    </ul>
</div>

<div class='report-info'>
    <h4>Особенности</h4>
    Из поля FIO извлекается номер анкеты PersonNumber.
</div>

<div class="report-info">
    <h4>Поля отчёта</h4>
    GrpLevel1	LevelName1	GrpLevel2	LevelName2	FIO	Dat	Price	Quant	Summa	Name	DetailClient	QuantFree	TimeMes	DetailDate	PayType	ServiceCode	ResourceID
</div>

<div class="report-info">
    <img src="~/Content/Images/report04_settings.png" />
</div>