﻿@{
    ViewBag.Title = "Посещения клиентов";
}

<h3>Посещения клиентов</h3>

<div class="report-info">
    <div class="report-info">
        <h4>Источник</h4>
        Club Profile - Конструктор списков
    </div>
</div>

<div class="report-info">
    <h4>Формат</h4>
    <p>Используем конструктор списков. Получившийся отчет экспортируем в формат xls.</p>
    <p>Преобразовать поля EnterTime и ExitTime в формат дата-время</p>
    <p>В Excel пересохраняем в формат txt с разделителями табуляции.</p>
    <p>Текстовый файл сохраняем в кодировке UTF-8.</p>
</div>

<div class="report-info">
    <h4>Настройки для конструктора списков</h4>
    <xmp>
        <List Caption="06 посещения" Query="SELECT DISTINCT Клиент.IDENTITY:Клиент.IDENTITY, Клиент.IDENTITY:Клиент.IDENTITY, Клиент.Номер анкеты:Клиент.Номер анкеты, Клиент*.Посещения.EnterTime:Клиент.Посещения.EnterTime, Клиент*.Посещения.ExitTime:Клиент.Посещения.ExitTime WHERE ((Клиент*.Посещения.ExitTime &gt;= 01.11.2020 0:00:00) AND (Клиент*.Посещения.EnterTime &gt;= 01.11.2020 0:00:00))">
            <Column Header="Номер анкеты" Source="Клиент.Номер анкеты" FormatString="" FormatType="None" />
            <Column Header="EnterTime" Source="Клиент.Посещения.EnterTime" FormatString="" FormatType="None" />
            <Column Header="ExitTime" Source="Клиент.Посещения.ExitTime" FormatString="" FormatType="None" />
        </List>
    </xmp>
</div>
