﻿@{
    ViewBag.Title = "Сальдо лицевых счетов";
}

<h3>Сальдо лицевых счетов</h3>

<div class="report-info">
    <div class="report-info">
        <h4>Источник</h4>
        Club Profile - Конструктор списков
    </div>
</div>

<div class="report-info">
    <h4>Формат</h4>
    <p>Используем конструктор списков. Получившийся отчет экспортируем в формат xls.</p>
    <p>В Excel пересохраняем в формат txt с разделителями табуляции.</p>
    <p>Текстовый файл сохраняем в кодировке UTF-8.</p>
</div>

<div class="report-info">
    <h4>Настройки для конструктора списков</h4>
    <xmp>
        <List Caption="08 сальдо" Query="SELECT DISTINCT Account.IDENTITY:Account.IDENTITY, Account.IDENTITY:Account.IDENTITY, Account.AccountNumber:Account.AccountNumber, Account.Saldo:Account.Saldo WHERE ((Account.Saldo &gt; 0))">
            <Column Header="AccountNumber" Source="Account.AccountNumber" FormatString="" FormatType="None" />
            <Column Header="Saldo" Source="Account.Saldo" FormatString="" FormatType="None" />
        </List>
    </xmp>
</div>
