﻿@{
    ViewBag.Title = "Сеансы клиентов";
}

<h3>Сеансы клиентов</h3>

<div class="report-info">
    <div class="report-info">
        <h4>Источник</h4>
        Club Profile - Конструктор списков
    </div>
</div>

<div class="report-info">
    <h4>Формат</h4>
    <p>Используем конструктор списков. Получившийся отчет экспортируем в формат xls.</p>
    <p>Преобразовать поле Executed в формат дата-время.</p>
    <p>В Excel пересохраняем в формат txt с разделителями табуляции.</p>
    <p>Текстовый файл сохраняем в кодировке UTF-8.</p>
</div>

<div class="report-info">
    <h4>Настройки для конструктора списков</h4>
    <xmp>
        <List Caption="07 сеансы" Query="SELECT DISTINCT Клиент.IDENTITY:Клиент.IDENTITY, Клиент.Номер анкеты:Клиент.Номер анкеты, Клиент*.БлокиОС.SectionName:Клиент.БлокиОС.SectionName, Клиент*.БлокиОС.NumDone:Клиент.БлокиОС.NumDone, Клиент*.БлокиОС.NumTotal:Клиент.БлокиОС.NumTotal, Клиент*.БлокиОС*.Сеанс.Executed:Клиент.БлокиОС.Сеанс.Executed, Клиент*.БлокиОС*.Сеанс.Executor:Клиент.БлокиОС.Сеанс.Executor, Клиент*.БлокиОС.ServiceName:Клиент.БлокиОС.ServiceName WHERE ((Клиент*.БлокиОС.Price &gt; 0) AND (Клиент*.БлокиОС*.Сеанс.Executed &gt;= 01.11.2020 0:00:00) AND ((Клиент*.БлокиОС.ServiceName LIKE '%ПТ%') OR (Клиент*.БлокиОС.ServiceName LIKE '%Сплит%')))">
            <Column Header="Номер анкеты" Source="Клиент.Номер анкеты" FormatString="" FormatType="None" />
            <Column Header="SectionName" Source="Клиент.БлокиОС.SectionName" FormatString="" FormatType="None" />
            <Column Header="NumDone" Source="Клиент.БлокиОС.NumDone" FormatString="" FormatType="None" />
            <Column Header="NumTotal" Source="Клиент.БлокиОС.NumTotal" FormatString="" FormatType="None" />
            <Column Header="Executed" Source="Клиент.БлокиОС.Сеанс.Executed" FormatString="" FormatType="None" />
            <Column Header="Executor" Source="Клиент.БлокиОС.Сеанс.Executor" FormatString="" FormatType="None" />
            <Column Header="ServiceName" Source="Клиент.БлокиОС.ServiceName" FormatString="" FormatType="None" />
        </List>
    </xmp>
</div>
