﻿@{
    ViewBag.Title = "Активные контракты";
}

<h3>Активные контракты</h3>

<div class="report-info">
    <div class="report-info">
        <h4>Источник</h4>
        Club Profile - Конструктор списков
    </div>
</div>

<div class="report-info">
    <h4>Формат</h4>
    <p>Используем конструктор списков. Получившийся отчет экспортируем в формат xls.</p>
    <p>В Excel пересохраняем в формат txt с разделителями табуляции.</p>
    <p>Текстовый файл сохраняем в кодировке UTF-8.</p>
</div>

<div class="report-info">
    <h4>Настройки для конструктора списков</h4>
    <xmp>
        <List Caption="05 активные контракты" Query="SELECT DISTINCT Клиент.IDENTITY:Клиент.IDENTITY, Клиент.Номер анкеты:Клиент.Номер анкеты, Клиент.Фамилия:Клиент.Фамилия, Клиент.Имя:Клиент.Имя, Клиент.Отчество:Клиент.Отчество, Клиент*.Активный персональный контракт.TemplateName:Клиент.Активный персональный контракт.TemplateName, Клиент*.Активный персональный контракт.DateFrom:Клиент.Активный персональный контракт.DateFrom, Клиент*.Активный персональный контракт.DateToWFreeze:Клиент.Активный персональный контракт.DateToWFreeze, Клиент*.Активный персональный контракт.Card:Клиент.Активный персональный контракт.Card, Клиент*.Активный персональный контракт.Status:Клиент.Активный персональный контракт.Status, Клиент*.Активный персональный контракт.AccountNumber:Клиент.Активный персональный контракт.AccountNumber WHERE ((NOT (Клиент*.Активный персональный контракт.TemplateName IS NULL)))">
            <Column Header="Номер анкеты" Source="Клиент.Номер анкеты" FormatString="" FormatType="None" />
            <Column Header="Фамилия" Source="Клиент.Фамилия" FormatString="" FormatType="None" />
            <Column Header="Имя" Source="Клиент.Имя" FormatString="" FormatType="None" />
            <Column Header="Отчество" Source="Клиент.Отчество" FormatString="" FormatType="None" />
            <Column Header="TemplateName" Source="Клиент.Активный персональный контракт.TemplateName" FormatString="" FormatType="None" />
            <Column Header="DateFrom" Source="Клиент.Активный персональный контракт.DateFrom" FormatString="" FormatType="None" />
            <Column Header="DateToWFreeze" Source="Клиент.Активный персональный контракт.DateToWFreeze" FormatString="" FormatType="None" />
            <Column Header="Card" Source="Клиент.Активный персональный контракт.Card" FormatString="" FormatType="None" />
            <Column Header="Status" Source="Клиент.Активный персональный контракт.Status" FormatString="" FormatType="None" />
            <Column Header="AccountNumber" Source="Клиент.Активный персональный контракт.AccountNumber" FormatString="" FormatType="None" />
        </List>
    </xmp>
</div>
